body {background-color:black;font-family: arial;color:white}
h1{color:grey;font-family: Verdana}
label{padding-right: 10px; }
.maindiv {background-color: white;
    color:black;
    width:500px;
    padding:20px;
    border-radius:25px;
    margin: 0 auto; /*align center not recognized*/
}
.subdiv {
    padding-left: 30px;
    
}


